
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


nav {
    width: 100%;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column; /* Vertical by default */
}


nav li {
    width: 100%;
}


nav a {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;

    transition: opacity 0.2s ease;
}


nav li:nth-child(1) a { background: red; }
nav li:nth-child(2) a { background: blue; }
nav li:nth-child(3) a { background: green; }
nav li:nth-child(4) a { background: purple; }


nav a:hover {
    opacity: 0.8;
}


nav a.current {
    border: 4px solid white;
}


@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
    }

    nav li {
        flex: 1; 
    }
}
